<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"> </head>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="layout :: header"></nav>
<h1>
    <strong >Are u sure?</strong>
</h1>
<form th:action="@{contract/{id}/delete(id=${contract_id})}" method="post">
    <input value="yes" name="confirm" type="submit"/>
    <input value="no" name="confirm" type="submit"/>
</form>


<footer th:replace="layout :: footer"></footer>
</body>
</html>