<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<script>
    const deleteTableRow=row=>{
        if(confirm('Are you sure')){
            const index=row.parentNode.parentNode.rowIndex;
            document.getElementById("deleted-row").deleteRow(index);
        }
    }
</script>
<script>
    $(document).ready(function(){
        $('.toast').toast('show');
    });
</script>

<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">
    <div class="row">
        <div class="col-6 no-padding" th:class="search-form">
            <form class="form-inline" th:action="/customer-search">
                <input class="form-control mr-sm-2" type="text" placeholder="Search by name ..." name="fullName" />
                <button class="btn btn-primary" type="submit" value="Search">
                    <i class="fa fa-search"></i> Search
                </button>
            </form>
        </div>

        <div class="col-6 no-padding">
            <a href="/customer/create" class="btn btn-success float-right" id="link1">
                <i class="fa fa-plus-square"></i> Add new Customer
            </a>
        </div>
        <div class="col-6 no-padding">
            <a href="/service" class="btn btn-success float-right" id="link2">
                <i class="fa fa-plus-square"></i> Service
            </a>
        </div>
        <div class="col-6 no-padding">
            <a href="/contract/create" class="btn btn-success float-right" id="link3">
                <i class="fa fa-plus-square"></i> Add new Contract
            </a>
        </div>
        <div class="col-6 no-padding">
            <a href="/contractDetail/create" class="btn btn-success float-right" id="link4">
                <i class="fa fa-plus-square"></i> Add new ContractDetails
            </a>
        </div>
        <div class="col-6 no-padding">
            <a href="/customer/customerUsingService" class="btn btn-success float-right" id="link5">
                <i class="fa fa-plus-square"></i> find all customer using service
            </a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="table-responsive">
            <h5>List of Customer</h5>
            <table class="table table-bordered table-hover" id="deleted-row">
                <thead>
                <tr>
                    <th>contract_date</th>
                    <th>contract_date_end</th>
                    <th>Deposit</th>
                    <th>total</th>
                    <th>CustomerName</th>
                    <th>ServiceName</th>
                    <th>EmployeeName</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row,rowStat : ${listContract}">
                    <td th:text="${#dates.format(row.getContract_date(),'dd/MM/yyyy')}" ></td>
                    <td th:text="${#dates.format(row.getContract_date_end(),'dd/MM/yyyy')}" ></td>
                    <td th:text="${row.getDeposit()}" ></td>
                    <td th:text="${row.getTotal()}" ></td>
                    <td th:text="${row.getCustomer().customer_name}" ></td>
                    <td th:text="${row.getService().service_name}" ></td>
                    <td th:text="${row.getEmployee_id().full_name}" ></td>
                    <td>
                        <a th:href="@{/contract/{id}/edit(id=${row.getContract_id()})}" class="mr-sm-2 text-primary"><i class="fa fa-pencil"></i></a>
                        <a th:href="@{/contract/{id}/delete(id=${row.getContract_id()})}" class="text-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>
            <div>
                <a th:href="@{'/customer'(page=${listCustomer.number - 1},name=${name})}" th:if="${listCustomer.hasPrevious()}">Back</a>
                <span th:text="${listCustomer.number + 1}"></span>/<span th:text="${listCustomer.totalPages}"></span>
                <a th:href="@{'/customer'(page=${listCustomer.number + 1},name=${name})}" th:if="${listCustomer.hasNext()}">Next</a>
            </div>
        </div>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>

</body>
</html>