<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $( function() {
        $("#birthday").datepicker({
            dateFormat: "dd/mm/yy"
        });
    });
</script>
<body>

<nav th:replace="layout :: header"></nav>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div class="container" id="form">
    <div class="row d-flex justify-content-center">
        <p class="text-left">
            <a th:href="@{/customer}">
                Back to customer list
            </a>
        </p>
        <form style="min-width: 300px;" th:object="${service}" th:action="@{/service/create}" method="post">
            <h3 class="text-center">Add new Service</h3>

            <div class="form-group">
                <label>ServiceName</label>
                <input id="" class="form-control is-invalid" type="text" placeholder="Service Name" th:field="*{service_name}" />
                <span  class="invalid-feedback" th:if="${#fields.hasErrors('service_name')}"
                       th:each="e:${#fields.errors('service_name')}"
                       th:text="${e}"></span><br>
            </div>

            <div class="form-group">
                <label>ServiceStatus</label>
                <input class="form-control is-invalid"  type="text" placeholder="service status" th:field="*{service_status}">
                <span class="invalid-feedback" th:if="${#fields.hasErrors('service_status')}"
                      th:each="e:${#fields.errors('service_status')}"
                      th:text="${e}"></span>
            </div>

            <div class="form-group">
                <label>Area used</label>
                <input class="form-control is-invalid" type="text" placeholder="area_used" th:field="*{area_used}" />
                <span class="invalid-feedback" th:if="${#fields.hasErrors('area_used')}"
                      th:each="e:${#fields.errors('area_used')}"
                      th:text="${e}"></span>
            </div>

            <div class="form-group">
                <label>numberFloors</label>
                <input class="form-control is-invalid" type="text" placeholder="number floors" th:field="*{number_floors}" />
                <span class="invalid-feedback" th:if="${#fields.hasErrors('number_floors')}"
                      th:each="e:${#fields.errors('number_floors')}"
                      th:text="${e}"></span>
            </div>

            <div class="form-group">
                <label>Number max people</label>
                <input class="form-control is-invalid" type="text" placeholder="Contact phone" th:field="*{number_max_people}"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('number_max_people')}"
                      th:each="e:${#fields.errors('number_max_people')}"
                      th:text="${e}"></span>
            </div>

            <div class="form-group">
                <label>rental costs</label>
                <input class="form-control is-invalid" type="text" placeholder="rental costs" th:field="*{rental_costs}"/>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('rental_costs')}"
                      th:each="e:${#fields.errors('rental_costs')}"
                      th:text="${e}"></span>
            </div>

            <div class="form-group">
                <td>Type Customer</td>
                <td>
                    <select th:field="*{typeCustomer}" class="form-control">
                        <option th:each="u : ${typeCustomer}" th:value="${u.type_customer_id}" th:text="${u.type_customer_name}"></option>
                    </select>
                </td>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary" value="save" >
                    <i class="fa fa-save"></i> Save
                </button>
            </div>

        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>